@{
    var product = Model;
}

<h1><u>Product</u></h1>
<hr/>
<p><b>ID:</b> @product.Id</p>
<p><b>Title:</b> @product.Title</p>
<p><b>Description:</b>  @product.Description</p>
<p><b>Price:</b> @product.Price</p>
<p><b>Count:</b> @product.Count</p>
@* <p>
    <a href="GetAll" class="btn btn-secondary">
        Back
    </a>
</p> *@